include:
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-golang-lint.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-golang-unittests.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-commits.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-license.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-github-status-updates.yml'

image: golang:1.24

variables:
  GITHUB_RELEASE_BINARY: mender-cli
  S3_BUCKET_NAME: "mender"
  S3_BUCKET_PATH: "mender-cli"
  BUILD_DIR: build
  LICENSE_HEADERS_IGNORE_FILES_REGEXP: ".*autocomplete.*"

  TEST_IMAGE: "${CI_REGISTRY_IMAGE}:${CI_PIPELINE_IID}"
  MENDER_SERVER_DIR: "${CI_PROJECT_DIR}/mender-server"

  # release and changelog generators
  GITHUB_REPO_URL:
    description: "The Github Repo URL for release-please, in the format of 'owner/repo'"
    value: "mendersoftware/mender-cli"
  GITHUB_USER_NAME:
    description: "The Github username for release-please"
    value: "mender-test-bot"
  GITHUB_USER_EMAIL:
    description: "The Github user email for release-please"
    value: "mender@northern.tech"
  GIT_CLIFF:
    description: "Run git cliff to override the release-please changelog"
    value: "true"
    options:
      - "true"
      - "false"
  GITHUB_CHANGELOG_REPO_URL:
    description: "The Github Repo URL where to push the changelog"
    value: "mendersoftware/mender-docs-changelog"
  CHANGELOG_REMOTE_FILE:
    description: "The changelog file in the remote changelog repo"
    value: "31.mender-cli/docs.md"
  INSTALL_BREW:
    value: false
    description: |
      Run a job to install and test mender-cli
      with brew from upstream.

  DOCKER_VERSION: "28.1"

stages:
  - build
  - test
  - test_acceptance_build
  - test_acceptance
  - publish
  - changelog

compile:
  stage: build
  needs: []
  before_script:
    # Prepare GOPATH
    - mkdir -p /go/src/github.com/mendersoftware
    - cp -r ${CI_PROJECT_DIR} /go/src/github.com/mendersoftware/${CI_PROJECT_NAME}
    - cd /go/src/github.com/mendersoftware/${CI_PROJECT_NAME}
    - make get-build-deps
  script:
    - make build-multiplatform
    - cp mender-cli.linux.amd64 $CI_PROJECT_DIR/
    - cp mender-cli.darwin.amd64 $CI_PROJECT_DIR/
  artifacts:
    paths:
      - mender-cli.linux.amd64
      - mender-cli.darwin.amd64

test:smoketests:mac:
  stage: test
  dependencies:
    - compile
  before_script: []
  script:
    - ./mender-cli.darwin.amd64
  tags:
    - mender-mac-slave

test:smoketests:linux:
  image: debian:buster
  stage: test
  dependencies:
    - compile
  before_script: []
  script:
    - ./mender-cli.linux.amd64

test_acceptance_build:image:
  stage: test_acceptance_build
  image: docker:${DOCKER_VERSION}-cli
  services:
    - docker:${DOCKER_VERSION}-dind
  needs: []
  before_script:
    - apk add --no-cache make git
    - export PROJECT_DIR="$CI_PROJECT_DIR/"
    - docker login --username $CI_REGISTRY_USER --password $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - git clone https://github.com/mendersoftware/mender-server ${MENDER_SERVER_DIR}
    # NOTE: The following build command will push to Gitlab project registry.
    #       See global variable TEST_IMAGE
    - make build-acceptance BUILDFLAGS=--push
  artifacts:
    when: on_success
    expire_in: "1w"
    paths:
      - ${MENDER_SERVER_DIR}

test_acceptance:run:
  stage: test_acceptance
  image: docker:${DOCKER_VERSION}-cli
  needs:
    - job: test_acceptance_build:image
      artifacts: true
  services:
    - docker:${DOCKER_VERSION}-dind
  script:
    - apk add --no-cache git bash make
    # make target env var
    - export SHARED_PATH="$(dirname ${CI_PROJECT_DIR})/shared"
    - make run-acceptance
  tags:
    # needs a one-off runner without preexisting /builds/Northern.tech/Mender/shared/integration folder
    - mender-qa-worker-generic-light
  artifacts:
    expire_in: 1w
    paths:
      - tests/coverage

test:install:brew:
  stage: test
  tags:
    - mac-runner
  script:
    # Reinstall in case we already have mender-cli
    - brew reinstall mender-cli
    - brew test mender-cli
  after_script:
    # Uninstall because the mac-runner is
    # not a container, so installations persist between jobs
    - brew uninstall mender-cli
  rules:
    - if: $INSTALL_BREW == "true"

test:build:brew:
  # TODO: create a CI/CD component for brew build checks as in https://github.com/mendersoftware/mendertesting/pull/367 [MEN-8436]
  stage: test
  tags:
    - mac-runner
  needs: []
  before_script:
    - brew install gnu-sed
  script:
    - TEMP_BUILD_DIR="$(mktemp -d /tmp/brew_build_XXXXXX)"
    - cd "$TEMP_BUILD_DIR"
    # 1. get the custom download strategy for brew so that we can fetch a PR revision from GH
    # TODO: use a better location (mendertesting, together with the component?) [MEN-8436]
    - wget -O mender-cli.rb https://gist.github.com/vpodzime/f0171f1ce8d914d29b5fbb1d8ab607c1/raw/e4340ecfc6e75abb770d09c3514979dfa8e128c6/gh_pr_brew_dl_strategy.rb
    - echo >> mender-cli.rb # Make sure there's a newline after download strategy class
    # 2. fetch the upstream brew formula
    - wget -O mender-cli_upstream.rb https://github.com/Homebrew/homebrew-core/raw/refs/heads/master/Formula/m/mender-cli.rb
    # 3. adapt the formula to use the PR revision instead of a release tarball
    - |
        gsed -e /sha256/d -e '/url /s|".*"|"https://github.com/mendersoftware/mender-cli.git",|' -e "/url \"https/a\ \ \ \ revision: \"${CI_COMMIT_SHA}\",\n    using: GitHubPRDownloadStrategy\n  version \"1234\"" < mender-cli_upstream.rb >> mender-cli.rb
    # 4. run brew build and test
    - HOMEBREW_NO_INSTALL_FROM_API=1 brew reinstall --build-from-source --verbose --debug --formula ./mender-cli.rb
    - brew test ./mender-cli.rb
  after_script:
    - brew remove mender-cli
    - rm -rf "$TEMP_BUILD_DIR"

publish:acceptance:
  stage: publish
  image: golang:1.20-alpine3.17
  dependencies:
    - test_acceptance:run
  before_script:
    - go tool covdata textfmt -i tests/coverage -o coverage.txt
    - go install github.com/mattn/goveralls@latest
    # Coveralls env variables:
    #  According to https://docs.coveralls.io/supported-ci-services
    #  we should set CI_NAME, CI_BUILD_NUMBER, etc. But according
    #  to goveralls source code (https://github.com/mattn/goveralls)
    #  many of these are not supported. Set CI_BRANCH, CI_PR_NUMBER,
    #  and pass few others as command line arguments.
    #  See also https://docs.coveralls.io/api-reference
    - export CI_BRANCH=${CI_COMMIT_BRANCH}
    - export CI_PR_NUMBER=${CI_COMMIT_BRANCH#pr_}
  script:
    - goveralls
      -repotoken ${COVERALLS_TOKEN}
      -service gitlab-ci
      -jobid $CI_PIPELINE_ID
      -covermode set
      -flagname acceptance
      -parallel
      -coverprofile coverage.txt

publish:s3:
  stage: publish
  image: debian:buster
  dependencies:
    - compile
  before_script:
    - apt update && apt install -yyq awscli
  script:
    - echo "Publishing ${CI_COMMIT_REF_NAME} version for linux to S3"
    - aws s3 cp $GITHUB_RELEASE_BINARY.linux.amd64
        s3://$S3_BUCKET_NAME/$S3_BUCKET_PATH/${CI_COMMIT_REF_NAME}/linux/mender-cli
    - aws s3api put-object-acl --acl public-read --bucket $S3_BUCKET_NAME
        --key $S3_BUCKET_PATH/${CI_COMMIT_REF_NAME}/linux/mender-cli
    - echo "Publishing ${CI_COMMIT_REF_NAME} version for darwin to S3"
    - aws s3 cp $GITHUB_RELEASE_BINARY.darwin.amd64
        s3://$S3_BUCKET_NAME/$S3_BUCKET_PATH/${CI_COMMIT_REF_NAME}/darwin/mender-cli
    - aws s3api put-object-acl --acl public-read --bucket $S3_BUCKET_NAME
        --key $S3_BUCKET_PATH/${CI_COMMIT_REF_NAME}/darwin/mender-cli
  only:
    - /^(master|[0-9]+\.[0-9]+\.x)$/

changelog:
  stage: changelog
  image: "registry.gitlab.com/northern.tech/mender/mender-test-containers:release-please-v1-master"
  variables:
    GIT_DEPTH: 0 # Always get the full history
    GIT_STRATEGY: clone
    GIT_CLIFF__BUMP__INITIAL_TAG: "1.13.0"  # TODO: after the new tag is created,
                                            # remove this variable
  tags:
    - hetzner-amd-beefy
  rules:
    # Only run for protected branches (main and maintenance branches)
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+/'
      when: never
    - if: $CI_COMMIT_REF_PROTECTED == "true" && $CI_COMMIT_BRANCH != ""
  before_script:
    # Setting up git
    - git config --global user.email "${GITHUB_USER_EMAIL}"
    - git config --global user.name "${GITHUB_USER_NAME}"
    # GITHUB_TOKEN for Github cli authentication
    - export GITHUB_TOKEN=${GITHUB_CLI_TOKEN}
  script:
    - release-please release-pr
        --token=${GITHUB_BOT_TOKEN_REPO_FULL}
        --repo-url=${GITHUB_REPO_URL}
        --target-branch=${CI_COMMIT_REF_NAME} || echo "INFO - release already exists" # workaround because we shifted to prerelease versioning strategy and there's already a PR open
    # git cliff: override the changelog
    - test $GIT_CLIFF == "false" && echo "INFO - Skipping git-cliff" && exit 0
    - git remote add github-${CI_JOB_ID} https://${GITHUB_USER_NAME}:${GITHUB_BOT_TOKEN_REPO_FULL}@github.com/${GITHUB_REPO_URL} || true  # Ignore already existing remote
    - gh repo set-default https://${GITHUB_USER_NAME}:${GITHUB_BOT_TOKEN_REPO_FULL}@github.com/${GITHUB_REPO_URL}
    - RELEASE_PLEASE_PR=$(gh pr list --author "${GITHUB_USER_NAME}" --head "release-please--branches--${CI_COMMIT_REF_NAME}" --json number | jq -r '.[0].number // empty')
    - test -z "$RELEASE_PLEASE_PR" && echo "No release-please PR found" && exit 0
    - gh pr checkout --force $RELEASE_PLEASE_PR
    - wget --output-document cliff.toml https://raw.githubusercontent.com/mendersoftware/mendertesting/master/utils/cliff.toml
    - git cliff --bump --output CHANGELOG.md --github-repo ${GITHUB_REPO_URL} --use-branch-tags
    - git add CHANGELOG.md
    - git commit --amend -s --no-edit
    - git push github-${CI_JOB_ID} --force
    # Update the PR body
    - git cliff --unreleased --bump -o tmp_pr_body.md --github-repo ${GITHUB_REPO_URL} --use-branch-tags
    - gh pr edit $RELEASE_PLEASE_PR --body-file tmp_pr_body.md
    - rm tmp_pr_body.md
  after_script:
    - git remote remove github-${CI_JOB_ID}

release:github:
  stage: .post
  image: "registry.gitlab.com/northern.tech/mender/mender-test-containers:release-please-v1-master"
  rules:
    # Only make available for protected branches (main and maintenance branches)
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+/'
      when: never
    - if: $CI_COMMIT_REF_PROTECTED == "true" && $CI_COMMIT_BRANCH != ""
      when: manual
      allow_failure: true
  needs:
    - job: changelog
  script:
    - release-please github-release
        --token=${GITHUB_BOT_TOKEN_REPO_FULL}
        --repo-url=${GITHUB_REPO_URL}
        --target-branch=${CI_COMMIT_REF_NAME}

release:mender-docs-changelog:
  image: "registry.gitlab.com/northern.tech/mender/mender-test-containers:release-please-v1-master"
  stage: .post
  tags:
    - hetzner-amd-beefy
  rules:
    # Only make available for stable branches
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+/'
      allow_failure: true
  before_script:
    # Setting up git
    - git config --global user.email "${GITHUB_USER_EMAIL}"
    - git config --global user.name "${GITHUB_USER_NAME}"
    # GITHUB_TOKEN for Github cli authentication
    - export GITHUB_TOKEN=${GITHUB_CLI_TOKEN}
  script:
    - git clone https://${GITHUB_USER_NAME}:${GITHUB_BOT_TOKEN_REPO_FULL}@github.com/${GITHUB_CHANGELOG_REPO_URL}
    - cd ${GITHUB_CHANGELOG_REPO_URL#*/}
    - git checkout -b changelog-${CI_JOB_ID}
    - cat ../docs_header.md > ${CHANGELOG_REMOTE_FILE}
    - cat ../CHANGELOG.md | grep -v -E '^---' >> ${CHANGELOG_REMOTE_FILE}
    - git add ${CHANGELOG_REMOTE_FILE}
    - |
      git commit -s -m "chore: add mender-cli changelog"
    - git push origin changelog-${CI_JOB_ID}
    - gh pr create --title "Update CHANGELOG.md" --body "Automated change to the CHANGELOG.md file" --base master --head changelog-${CI_JOB_ID}
