include:
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-golang-lint.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-golang-unittests-v2.yml'
  - component: gitlab.com/Northern.tech/Mender/mendertesting/commit-lint@master
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-license.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-github-status-updates.yml'
  - component: gitlab.com/Northern.tech/Mender/mendertesting/brew-build@master
    inputs:
      formula: "m/mender-cli.rb"
    rules:
      - when: never # FIXME: QA-1350

  # Release CI/CD components
  - component: gitlab.com/Northern.tech/Mender/mendertesting/release-candidate@master
    inputs:
      github_repo: mendersoftware/mender-cli
  - component: gitlab.com/Northern.tech/Mender/mendertesting/release-dist-packages@master
    inputs:
      package: MENDER_CLI
  - component: gitlab.com/Northern.tech/Mender/mendertesting/release-compass@master
    inputs:
      compass_component_id: "abe99e2a-7160-4063-a48d-11b59dd06c6e"
  - component: gitlab.com/Northern.tech/Mender/mendertesting/release-oslicenses-golang@master
    inputs:
      remote_license_file: "302.Release-information/03.Open-source-licenses/31.mender-cli/docs.md"
  - component: gitlab.com/Northern.tech/Mender/mendertesting/release-docs-changelog@master
    inputs:
      remote_changelog_file: "31.mender-cli/docs.md"

image: golang:1.24

variables:
  GITHUB_RELEASE_BINARY: mender-cli
  S3_BUCKET_NAME: "mender"
  S3_BUCKET_PATH: "mender-cli"
  BUILD_DIR: build
  LICENSE_HEADERS_IGNORE_FILES_REGEXP: ".*autocomplete.*"

  TEST_IMAGE: "${CI_REGISTRY_IMAGE}:${CI_PIPELINE_IID}"

  # release and changelog generators
  GITHUB_REPO_URL:
    description: "The Github Repo URL for release-please, in the format of 'owner/repo'"
    value: "mendersoftware/mender-cli"
  GITHUB_USER_NAME:
    description: "The Github username for release-please"
    value: "mender-test-bot"
  GITHUB_USER_EMAIL:
    description: "The Github user email for release-please"
    value: "mender@northern.tech"
  GIT_CLIFF:
    description: "Run git cliff to override the release-please changelog"
    value: "true"
    options:
      - "true"
      - "false"
  GITHUB_CHANGELOG_REPO_URL:
    description: "The Github Repo URL where to push the changelog"
    value: "mendersoftware/mender-docs-changelog"
  CHANGELOG_REMOTE_FILE:
    description: "The changelog file in the remote changelog repo"
    value: "31.mender-cli/docs.md"

  DOCKER_VERSION: "28.1"

  XDIST_WORKERS_INTEGRATION_TEST:
    description: "Number of workers to spawn in pytest-xdist and use in the integration tests"
    value: 4

stages:
  - build
  - test
  - test_acceptance_build
  - test_acceptance
  - test_integration
  - publish

compile:
  stage: build
  needs: []
  before_script:
    # Prepare GOPATH
    - mkdir -p /go/src/github.com/mendersoftware
    - cp -r ${CI_PROJECT_DIR} /go/src/github.com/mendersoftware/${CI_PROJECT_NAME}
    - cd /go/src/github.com/mendersoftware/${CI_PROJECT_NAME}
    - make get-build-deps
  script:
    - make build-multiplatform
    - cp mender-cli.linux.amd64 $CI_PROJECT_DIR/
    - cp mender-cli.darwin.amd64 $CI_PROJECT_DIR/
  artifacts:
    paths:
      - mender-cli.linux.amd64
      - mender-cli.darwin.amd64

test:smoketests:mac:
  stage: test
  dependencies:
    - compile
  before_script: []
  script:
    - ./mender-cli.darwin.amd64
  tags:
    - mac-arm-runner

test:smoketests:linux:
  image: debian:bookworm
  stage: test
  dependencies:
    - compile
  before_script: []
  script:
    - ./mender-cli.linux.amd64

test_acceptance_build:image:
  stage: test_acceptance_build
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_SUBMODULE_DEPTH: 1
  image: docker:${DOCKER_VERSION}-cli
  services:
    - docker:${DOCKER_VERSION}-dind
  needs: []
  before_script:
    - apk add --no-cache make git
    - export PROJECT_DIR="$CI_PROJECT_DIR/"
    - docker login --username $CI_REGISTRY_USER --password $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    # NOTE: The following build command will push to Gitlab project registry.
    #       See global variable TEST_IMAGE
    - make build-acceptance BUILDFLAGS=--push

test_acceptance:run:
  stage: test_acceptance
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_SUBMODULE_DEPTH: 1
  image: docker:${DOCKER_VERSION}-cli
  needs:
    - job: test_acceptance_build:image
      artifacts: true
  services:
    - docker:${DOCKER_VERSION}-dind
  script:
    - apk add --no-cache git bash make
    # make target env var
    - export SHARED_PATH="$(dirname ${CI_PROJECT_DIR})/shared"
    - make run-acceptance
  tags:
    # needs a one-off runner without preexisting /builds/Northern.tech/Mender/shared/integration folder
    - mender-qa-worker-generic-light
  artifacts:
    expire_in: 1w
    paths:
      - tests/acceptance/coverage

.requires-docker: &requires-docker
  - DOCKER_RETRY_SLEEP_S=2
  - DOCKER_RUNNING=false
  - for try in 4 3 2 1; do
  -  docker ps && DOCKER_RUNNING=true
  -  if [ "${DOCKER_RUNNING}" == "true" ]; then
  -   break
  -  fi
  -  sleep "${DOCKER_RETRY_SLEEP_S}"
  - done
  - if [ "${DOCKER_RUNNING}" != "true" ]; then
  -  exit 192
  - fi

test:integration:
  stage: test_integration
  tags:
    - hetzner-amd-beefy
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_SUBMODULE_DEPTH: 1
  image: docker:${DOCKER_VERSION}
  needs:
    - compile
  before_script:
    - mkdir -p $HOME/.docker
    - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
    - apk add --update bash cmake curl dpkg e2fsprogs-extra g++ gcompat gcompat git iptables jq libffi-dev make openssh-client py3-pip python3-dev zstd screen openssl-dev openssl-libs-static
    # Workaround for "Failed building wheel for uamqp" error
    - CFLAGS="-Wno-error=incompatible-pointer-types" CMAKE_POLICY_VERSION_MINIMUM=3.5 pip install uamqp --break-system-packages
    - pip install --ignore-installed -r tests/mender_server/backend/tests/requirements-integration.txt --break-system-packages
    - pip install -r tests/integration/requirements.txt --break-system-packages
    # Gitlab CI tends to set these DOCKER_ variables internally.
    # dind also creates the unix socket at /var/run/docker.sock
    # This docker setup is based on `.gitlab-ci-full-integration-template.yml`
    # from integration
    - unset DOCKER_HOST DOCKER_TLS_VERIFY DOCKER_CERT_PATH
    # Run dockerd and wait it to start
    # https://github.com/krallin/tini#subreaping
    - screen -d -m /usr/bin/env TINI_SUBREAPER=true dockerd-entrypoint.sh
    - *requires-docker
  script:
    - mv mender-cli.linux.amd64 /usr/local/bin/mender-cli
    - cd tests/integration
    - ./run_tests.sh -n ${XDIST_WORKERS_INTEGRATION_TEST}

test:install:brew:
  stage: test
  tags:
    - mac-arm-runner
  script:
    # Reinstall in case we already have mender-cli
    - brew reinstall mender-cli
    - brew test mender-cli
  rules:
    - when: never # FIXME: QA-1350
    - if: $CI_COMMIT_BRANCH =~ "/^master|^v?[0-9]\.[0-9]\.[0-9]/"
      when: never
    - when: on_success

publish:acceptance:
  stage: publish
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/golang:1.20-alpine3.17
  allow_failure: true # QA-925 - Coveralls servers are unreliable.
  dependencies:
    - test_acceptance:run
  before_script:
    - go tool covdata textfmt -i tests/acceptance/coverage -o coverage.txt
    - go install github.com/mattn/goveralls@latest
    # Coveralls env variables:
    #  According to https://docs.coveralls.io/supported-ci-services
    #  we should set CI_NAME, CI_BUILD_NUMBER, etc. But according
    #  to goveralls source code (https://github.com/mattn/goveralls)
    #  many of these are not supported. Set CI_BRANCH, CI_PR_NUMBER,
    #  and pass few others as command line arguments.
    #  See also https://docs.coveralls.io/api-reference
    - export CI_BRANCH=${CI_COMMIT_BRANCH}
    - export CI_PR_NUMBER=${CI_COMMIT_BRANCH#pr_}
  script:
    - goveralls
      -repotoken ${COVERALLS_TOKEN}
      -service gitlab-ci
      -jobid $CI_PIPELINE_ID
      -covermode set
      -flagname acceptance
      -parallel
      -coverprofile coverage.txt

publish:s3:
  stage: publish
  image: debian:bookworm
  dependencies:
    - compile
  before_script:
    - apt update && apt install -yyq awscli
  script:
    - echo "Publishing ${CI_COMMIT_REF_NAME} version for linux to S3"
    - aws s3 cp $GITHUB_RELEASE_BINARY.linux.amd64
        s3://$S3_BUCKET_NAME/$S3_BUCKET_PATH/${CI_COMMIT_REF_NAME}/linux/mender-cli
    - aws s3api put-object-acl --acl public-read --bucket $S3_BUCKET_NAME
        --key $S3_BUCKET_PATH/${CI_COMMIT_REF_NAME}/linux/mender-cli
    - echo "Publishing ${CI_COMMIT_REF_NAME} version for darwin to S3"
    - aws s3 cp $GITHUB_RELEASE_BINARY.darwin.amd64
        s3://$S3_BUCKET_NAME/$S3_BUCKET_PATH/${CI_COMMIT_REF_NAME}/darwin/mender-cli
    - aws s3api put-object-acl --acl public-read --bucket $S3_BUCKET_NAME
        --key $S3_BUCKET_PATH/${CI_COMMIT_REF_NAME}/darwin/mender-cli
  only:
    - /^(master|[0-9]+\.[0-9]+\.x)$/
